<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <title th:text="#{title.history}">Notes WebApp</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <span th:text="#{title.authenticated}"> </span>
    <span  sec:authentication="name"></span></div>

<form th:action="@{/logout}" method="get">
    <button name="logout" type="Submit" th:text="#{button.logout}">Logout</button>
</form>

<div th:if="${not #lists.isEmpty(notesHistoryList)}">

<div class="notesHistoryList" th:unless="${#lists.isEmpty(notesHistoryList)}">

    <h2 th:text="#{title.historylist}">List of Notes</h2>
    <p th:text="'id = ' + ${noteId} + ', created ' + ${#temporals.format(noteCreated, 'dd-MM-yyyy HH:mm:ss')}"></p>

    <table>
        <thead>
        <tr>
            <th th:text="#{note.header}">Header</th>
            <th th:text="#{note.text}">Text</th>
            <th th:text="#{note.edition}">Last Edition DateTime</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="n : ${notesHistoryList}">
            <td th:text="${n.header}"></td>
            <td th:text="${n.text}"></td>
            <td th:text="${#temporals.format(n.lastEditionDateTime, 'dd-MM-yyyy HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>

</div>
</div>
<div th:if="${#lists.isEmpty(notesHistoryList)}">
    <h2 th:text="#{title.nohistory}">List of Notes</h2>
</div>

<p><a th:href="@{/home}" th:text="#{title.main}">Main</a></p>

</body>
</html>