<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welcome to Notes Web App</title>
</head>
<body>
<h2>Welcome to Notes Web App</h2>

<div>
        <h3><a th:href="@{/login}">Log In</a></h3>
        <h3><a th:href="@{/registration}">Sign Up</a></h3>
<!--
    <div sec:authorize="hasRole('ADMIN')">
        <h4><a href="/admin">Админка</a></h4>
    </div>
    <div sec:authorize="hasRole('USER')">
        <h4><a href="/home">Заметки</a></h4>
    </div>
    <div sec:authorize access="isAuthenticated()">
        <h4><a href="/logout">Выйти</a></h4>
    </div>-->
</div>

</body>
</html>