<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welcome</title>
</head>
<body>
<div>

        <h4><a th:href="@{/login}">Войти</a></h4>
        <h4><a th:href="@{/registration}">Зарегистрироваться</a></h4>
<!--
    <div sec:authorize="hasRole('ADMIN')">
        <h4><a href="/admin">Админка</a></h4>
    </div>
    <div sec:authorize="hasRole('USER')">
        <h4><a href="/home">Заметки</a></h4>
    </div>
    <div sec:authorize access="isAuthenticated()">
        <h4><a href="/logout">Выйти</a></h4>
    </div>-->

</div>

</body>
</html>