<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Login page</title>
</head>
<body>
<form th:action="@{/registration}" method="get">
    <button type="Submit">Go To Registration Page</button>
</form>

<div th:if="${param.error}">
    <p>User Name or Password invalid, please verify</p>
</div>
<div th:if="${param.logout}">
    <p>You have been logged out</p>
</div>

<form th:action="@{/login}" method="post">

    <p><input type="text" name="username" id="username" placeholder="UserName"/></p>
    <p><input type="password" name="password" id="password" placeholder="Password"/></p>

    <button name="Submit" value="Login" type="Submit"
            th:text="Login"></button>
</form>
</body>
</html>