<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title th:text="#{user.addPermissions}">Notes WebApp</title>
</head>
<body>
<div class="container">
    <div class="row">
<div sec:authorize="isAuthenticated()">
    <span th:text="#{title.authenticated}"> </span>
    <span class="badge badge-primary" sec:authentication="name"></span></div>
    </div>
    <div class="row">
<form th:action="@{/logout}" method="get">
    <button name="logout" type="Submit" th:text="#{button.logout}" class="btn btn-primary btn-sm">Logout</button>
</form>
    </div>
    <br>

    <div th:if="${not #lists.isEmpty(notesList)}">

    <h3 th:text="#{user.addPermissions}">add Permissions</h3>
    <br>
<form action="#" th:action="@{/permissions}" method="post" th:object="${userPermissions}">
    <p><input type="hidden" name="id" th:field="*{id}"/></p>
    <div class="row">
        <div class="col-md-auto">
            <label th:text="#{user.chooseUser}"></label></div>
        <div class="col-md-auto">
            <select class="custom-select" th:field="*{user.id}"  id="dropUser">
                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-auto">
            <label th:text="#{user.chooseNote}"></label>
        </div>
        <div class="col-md-auto">
            <select class="custom-select" th:field="*{note.id}"  id="dropNote">
                <option th:each="note : ${notesList}" th:value="${note.id}" th:text="${note.header}"></option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-auto">
            <label th:text="#{user.choosePermission}"></label>
        </div>
        <div class="col-md-auto">
            <select class="custom-select" th:field="*{permission}" id="dropPermission">
                <option th:each="permission : ${T(home.model.Permission).values()}"
                        th:value="${permission}" th:text="${permission}"></option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <input type="submit" th:value="#{button.submit}" class="btn btn-primary"/>
    </div>
</form>

        <b><p th:text="${messagePermit}" th:if="${messagePermit ne null}"></p></b>
<br>
    </div>
    <div th:if="${#lists.isEmpty(notesList)}">
        <h3 th:text="#{title.nonotes}">List of Notes</h3>
    </div>
<div class="row">
<p><a th:href="@{/home}" th:text="#{title.main}">Main</a></p></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</body>
</html>